    <%- include('partials/_header.ejs') %> 
    <%- include('partials/_navigation.ejs') %>

    <div class="carousel about-carousel">
        <div class="carousel-items">
            <h1>Courses</h1>
            <div class="courses-flex-part">
                <p class="carousel-text courses-top-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem est, fugiat quibusdam neque exercitationem, saepe quasi, optio vero nulla officiis aperiam porro id tenetur quod iure eligendi ipsum ratione temporibus?
                </p>
            </div>
        </div>
    </div>

    <div class="course-created">
        <% if(flashMessages){ %> 
            <% if(flashMessages.success){ %> 
                <div style="margin: 0 15px 20px 15px;width: 400px;" class="alert-success">
                    <p>
                        <%= flashMessages.success %> 
                    </p>
                </div>
            <% } else if(flashMessages.error){ %> 
                <div style="margin: 0 15px 20px 15px;width: 400px;" class="alert-error">
                    <p>
                        <%= flashMessages.error %> 
                    </p>
                </div>
            <% } %> 
        <% } %>
    </div>

    <div class="course-page-body">
        <div class="course-list">
            <div class="courses">
                <% for(let x = 0; x < courses.length; x ++){ %> 
                    <div class="course">
                        <img src="/img/dark-forest.jpg" class="course-img" width="300" height="300" alt="">
                        <div class="course-info">
                            <h2 class="course-title"><a href="/courses/<%= courses[x].slug %> " class="lesson"><%= courses[x].name %></a></h2>
                            <p class="course-desc"><%= courses[x].description %></p>
                            <hr class="teacher-hr">
                            <p>Teacher : <%= courses[x].user.name %></p>
                        </div>
                    </div>
                <% } %> 
            </div>
        </div>
        <div class="search-categories">
            <div class="search-part">
                <div class="input-part">
                    <form action="/courses" method="get">
                        <input type="text" name="search" class="category-input">
                        <button>Search</button>
                    </form>
                </div>
                <h2>Categories</h2>
                <ul class="categories">
                    <% for(let x = 0; x < categories.length; x ++){ %> 
                        <li><a href="/courses?categories=<%= categories[x].slug %> "><%= categories[x].name %></a></li>
                    <% } %> 
                </ul>
            </div>
        </div>
    </div>

    <%- include('partials/_footer.ejs') %>
    
</body>
</html>