    <%- include('partials/_header.ejs') %> 
    <%- include('partials/_navigation.ejs') %> 

    <% if(currentUser){ %> 

        <% if(currentUser.role === 'student'){ %> 
            <div class="enroll-text">
                <h2>Welcome <%- currentUser.name %> (Student) / Your Courses</h2>
            </div>

            <div class="course-page-body dashboard">
                <div class="course-list">
                    <div class="courses">
                    <% for(let i = 0;i<currentUser.courses.length; i++){ %> 
                        <div class="course enrolled-course">
                            <img src="/img/dark-forest.jpg" class="course-img" width="300" height="300" alt="">
                            <div class="course-info">
                                <h2 class="course-title"><%= currentUser.courses[i].name %></h2>
                                <div class="release">
                                    <form action="/courses/release" method="post">
                                        <button type="submit">Release</button>
                                        <input type="hidden" name="course_id" value="<%= currentUser.courses[i]._id %>">
                                    </form>
                                </div>
                                <p class="course-desc"><%= currentUser.courses[i].description %></p>
                                <hr class="teacher-hr">
                                <p>Teacher : Emirhan Happy</p>
                            </div>
                        </div>
                    <% } %> 
                    </div>
                </div>
            </div>
        <% } %> 

        <% if(currentUser.role === 'teacher'){ %> 
            <div class="enroll-text">
                <h2>Welcome <%- currentUser.name %> (Teacher)</h2>
            </div>

            <div class="create-new-course">
                <h2>Create New Course</h2>
                <form method="POST" action="/courses">
                    <div class="new-course-inputs">
                        <input type="text" name="name" placeholder="Course Name">
                        <input type="text" name="description" placeholder="Course Description">
                        <input type="hidden" name="role" value="<%= currentUser.role %>">
                        <select name="category">
                            <% for(let i= 0 ; i<categories.length ; i++){ %> 
                                <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                            <% } %> 
                        </select>
                    </div>
                    <div><button type="submit">Create New Course</button></div>
                </form>
            </div>

            <% if(flashMessages){ %> 
                <% if(flashMessages.error){ %> 
                    <div class="dashboard-error">
                        <p>
                            <%= flashMessages.error %> 
                        </p>
                    </div>
                <% } %> 
            <% } %>
 
            <div class="course-page-body dashboard">
                <div class="course-list">
                    <div class="courses">
                            <% for(let i= 0 ; i<courses.length ; i++){ %> 
                                <div class="course enrolled-course">
                                    <img src="/img/dark-forest.jpg" class="course-img" width="300" height="300" alt="">
                                    <div class="course-info">
                                        <h2 class="course-title"><a href="/courses/<%= courses[i].slug %>"><%= courses[i].name %></a></h2>
                                        <p class="course-desc"><%= courses[i].description %></p>
                                        <hr class="teacher-hr">
                                        <p>Teacher : <%= courses[i].user.name %></p>
                                        <div class="delete-update">
                                            <a class="delete update-delete" href="/courses/<%= courses[i].slug %>?_method=DELETE">DELETE</a>
                                            <button class="update update-delete modal-button">UPDATE</button>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                    </div>
                </div>
            </div>
        <% } %> 

        <% if(currentUser.role === 'admin'){ %> 
            <div class="enroll-text">
                <h2>Welcome <%- currentUser.name %> (Admin)</h2>
            </div>

            <ul class="userList">
                <% for (let i=0; i< users.length; i++) { %>
                    <li class="list">
                        <span class="tid"><%=users[i]._id %></span>
                        <span class="tid"><%=users[i].name %></span>
                        <span class="temail"><%=users[i].email %></span>
                        <span class="trole"><%=users[i].role %></span>
                        <span class="tdelete"><a href="/users/<%=users[i]._id %>?_method=DELETE">DELETE</a></span>
                    </li>
                <% } %>
            </ul>
        <% } %>

    <% } %> 

    <%- include('partials/_footer.ejs') %> 
    
</body>
</html>